/* Googla Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=WindSong:wght@400;500&display=swap");

/* Reset CSS */
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Main Root */
:root {
  /* Fonts */
  --poppins: "Poppins", sans-serif;
  --windsong: "WindSong", cursive;
  /* Color */
  --basic: #fff;
  --dark: #191919;
  --grey: #7c7c7c;
  --primary: #da2d75;
}

body,
html {
  font-family: var(--poppins);
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: auto;
  height: 100%;
}

.row {
  width: 100%;
  height: 100%;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-grid {
  display: grid;
  gap: 1em;
}

.mark {
  color: var(--primary);
}

/* Section Nav */

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  border-bottom: 1px solid #ecf4d6;
  background-color: var(--basic);
}

nav a {
  color: var(--dark);
  display: inline-block;
  padding: 1em 0;
}

.navigasi {
  gap: 1em;
}

.navigasi a {
  padding: 0 1em;
}

.hamBtn {
  display: none;
}

/* End Section Nav */

/* Section Hero */

#hero {
  height: 600px;
  text-align: center;
  background: url(https://images.unsplash.com/photo-1596178060671-7a80dc8059ea?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D),
    no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  color: var(--basic);
  overflow: hidden;
  position: relative;
}

#hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

#hero .row {
  justify-content: center;
  position: relative;
  z-index: 1;
}

#hero h1 {
  font-size: 5rem;
  font-family: var(--windsong);
}

#hero .point {
  font-size: 0.9rem;
  margin: 1em 0;
  color: var(--basic);
}

#hero button {
  padding: 1em 2em;
  background: none;
  border: none;
  border-radius: 10px;
  color: var(--basic);
  font-weight: 600;
  background-color: var(--primary);
}

/* End Section Hero */

/* Section About */

#about {
  padding: 3em 0;
}

#about .row:first-child {
  margin-top: 2em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  place-items: center;
  text-align: justify;
}

#about .feature {
  margin: 1em 0;
}

#about figcaption p {
  color: var(--grey);
  font-size: 0.9rem;
}

#about ul li {
  margin: 1em 0;
  font-size: 0.9rem;
  color: var(--grey);
}

#about .row:first-child img {
  width: 100%;
  border-radius: 0 0 0 30px;
}

.service {
  margin-top: 3em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 2em;
}

.service img {
  width: 100%;
}

.service figcaption {
  padding: 1em;
  font-size: 0.9rem;
}

.service-dtl {
  justify-content: flex-start;
  gap: 1em;
  align-items: flex-start;
}

.service-dtl img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  max-width: 100px;
}

/* End Section About */

/* RESONSIVE */
/* DESKTOP VIEW */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
}

/* TABLET VIEW */
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
}

/* SMARTPHONE VIEW */
@media (max-width: 576px) {
  html {
    font-size: 65%;
  }

  /* Nav */
  .navigasi {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--basic);
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    align-items: flex-start;
    width: 80%;
    height: 100vh;
    padding: 0 1em;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
  }

  .navigasi.popUp {
    transform: translateX(0);
    transition: 0.3s ease-in-out;
  }

  .navigasi a {
    color: var(--dark);
    font-size: 2em;
  }

  .hamBtn {
    display: block;
    position: relative;
  }
}
